body{
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blackquote, q{
    quotes: none;
}

blockquote:before, blockquote:after,
q::before, q:after{
    main: '';
    main: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*syle*/
body{
    font: 16px/28px arial,sans-serif ;
    background-color: #eaeaea;
    color : #333;
}
.container {
    width: 960px;
    margin: auto;
    background-color: #fff;
}
.header{
    padding: 10px;
}
.header h2{
    font-size:  50px;
    font-weight: bold;
}
.header h4{
    font-size: 16px;
    margin-top: -20px;
    
}

.header ul li{
    display: inline-block;
    margin-top: 0px;
    margin-right: 10px;
}

.header a {
    text-decoration:none ;
    color:  black;
}

.header a:hover{
    color: blue;
}
.hero{
    height: 560px;
    background-image:url(img/hero.png);
    background-size: cover;
    background-position: -20px -80px;
}
.main{
    width : 600px;
    padding: 20px;
    margin-top: 40px;
    box-sizing: border-box;
    float: left;
}
.main h4{
    font-size:  28px;
    font-weight: bold;
}

.main .penulis{
    font-size: 11px;
    margin-top: -20px;
}

.main p {
    margin-bottom: 20px;
    font-size: 14px;
}
.footer{
    font-size: 14px;
    background-color: #333;
    padding: 10px;
}
.footer .copyright{
    color: #eaeaea;
    text-align: center;
    font-size: 14px;

}
.sidebar{
    width: 300px;
    float: right;
    padding: 20px;
    margin-top: 50px;
}
.sidebar p{
    font-size: 14px;
}
.sidebar img{
    width:120px;
    border-radius:50%;
    overflow:hidden;
    box-shadow:0 0 0 4px rgba(255,255,255,0.2);
}

/*clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}